html{
  padding: 0;
  margin: 0;
  font-size: calc(1em + 1vw);
}

body {
  margin-left: 10vw; /* Same as the width of the sidebar */
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1.5px solid #cccccc;

}

.sidenav {

  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10vw;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 1vh;
  padding-top: 40px;
  border-right: 1.5px solid #cccccc;
  border-top: 1.5px solid #cccccc;
}

.sidenav a{
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 0.55em;
  color: black;
  display: block;
}

.navSections {
  background-color: white;
  padding-bottom: 10vh;
  border-bottom: 1.5px solid #cccccc;
}

.homeMenu:hover, .workshopsMenu:hover  {
 background-color: #D5381E;
 color: white;
 text-shadow: -1px 1px 0px #00A8FC, -2px 2px 0px #008BFD;
}

.aboutMenu:hover, .contactMenu:hover{
  background-color: #2E86AB;
  color: white;
  text-shadow: -1px 1px 0px #FA3618, -2px 2px 0px #D5381E;
}

.navIcons {
  background-color: white;
  position: relative;
  height: 35vh;
  padding-top: 2vh;
  margin:0;
  padding-left: 0;
}

.navIconsList {
  display: block;
  list-style-type: none;
  padding-bottom: 5%;
  padding-left: 16px;
  margin: 0;
}


.socialIcon {
  display: block;
  color: #1c1c1c;
}

.socialIcon:hover {
  color: white;
}

.socialIconText {
  float: right;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  font-size: 0.6em;
  padding-left: 1em;
  padding-top: 5.2%;
  font-family: 'Open Sans', sans-serif;

}
.socialIconText::after{
  content:'';
  display:block;
  clear: both;
}

.navIconsList:hover {
  background-color: #D5381E;
  color: white;
}

.navIconsList:hover
.socialIcon {
  background-color: #D5381E;
  color: white;
}

.navIconsList:hover
.socialIconText {
  visibility: visible;
  opacity: 1;
}


#home {
    background-image: linear-gradient(110deg, #FA3618 0%, #FA3618 75%, #D5381E 75%, #D5381E 100%);
    color: white;
    padding-top: 1%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1.5px solid #cccccc;
}

.header_addition {
  margin-left: 10vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  max-width: 85vw;
  height:100vh;
  max-height: 99vh;
}

/* @keyframes textShadow {
  0% {  text-shadow: -6px 6px 0px #2DBFF9, -12px 12px 0px #00A8FC, -18px 18px 0px #008BFD;}
  33% {   text-shadow: -8px 8px 0px #00A8FC, -16px 16px 0px #008BFD, -24px 24px 0px #2DBFF9;}
  66% {   text-shadow: -7px 7px 0px #008BFD, -14px 14px 0px #2DBFF9, -21px 21px 0px #00A8FC;}
  100% {text-shadow: -6px 6px 0px #2DBFF9, -12px 12px 0px #00A8FC, -18px 18px 0px #008BFD;}
} */

@keyframes textShadow {
  0% {  text-shadow: -8px 8px 0px #2DBFF9, -16px 16px 0px #00A8FC, -24px 24px 0px #008BFD;}
  33% {   text-shadow: -8px 8px 0px #008BFD, -16px 16px  0px #2DBFF9, -24px 24px 0px #00A8FC; }
  66% {   text-shadow: -8px 8px 0px #00A8FC, -16px 16px 0px #008BFD, -24px 24px 0px #2DBFF9;}
  100% {text-shadow: -8px 8px 0px #2DBFF9, -16px 16px 0px #00A8FC, -24px 24px 0px #008BFD;}
  /* -8px 8px 0px #00A8FC, -16px 16px 0px #008BFD, -24px 24px 0px #2DBFF9 */
}


#home h1 {
  position: relative;
  font-family: 'Abril Fatface', cursive;
  font-size: 6.5em;
  text-align: center;
  letter-spacing: 0.03em;
  text-shadow: -6px 6px 0px #2DBFF9, -12px 12px 0px #00A8FC, -18px 18px 0px #008BFD;
  z-index: 3;
  animation-name: textShadow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  margin:0;
  margin-top: -20%;
}


#home h1:hover {
  animation-play-state: running;
  cursor: grab;
}


.subtitle_h2 {
  position: relative;
  margin-left:20%;
  font-size: 1em;
  padding-left: 15%;
  font-weight: bold;
  z-index: 3;

}

.circle{
  z-index: -1;
}


  #about {
background-color: #2E86AB;
  color: white;
  padding-top: 1%;
  height: 100vh;
  width: 100%;
}


.aboutHeader h2{
  margin-left: 10%;
  margin-right: 10%;
  display: block;
  margin: 0;
  text-align: center;
}


.about-project:hover{
  text-shadow: -5px 5px 0px #FA3618, -10px 10px 0px #D5381E, -15px 15px 0px #C13739;
}

.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.aboutDescription, .workshopDescription {
  font-size: 0.6em;
  line-height: 1.45;
  padding: 5%;
}

.about-photo{
 padding: 5%;
 padding-left: 10%;
 justify-content: center;
 align-items: center;
}

.about-photo img {
  height: 450px;
  width: auto;
}

#workshops{
  background-image: linear-gradient(110deg, #D5381E 0%, #D5381E 20%, #FA3618 20%,  #FA3618 100%);
  color: white;
  padding-top: 1%;
  height: 100vh;
  width: 100%;
}

.aboutHeader, .workshopsHeader{
  margin-top: 5%;
  margin-bottom: 5%;

}

.workshopsHeader h2{
  display: block;
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 2.8em;
  line-height: 1;
}

.workshopsHeader h2:hover {
  text-shadow: -3px 3px 0px #2DBFF9, -6px 6px 0px #00A8FC, -9px 9px 0px #008BFD;
}


.workshopsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
}

.videoDiv {
  height: 100%;
  width: 100%;
  margin: 5%;
}

.video{
  position: relative;
  height:60%;
  width: 100%;
}

.contact-info {
  font-family: 'Open Sans', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 0.6em;
}


#contact {
  background-color: #2E86AB;
  color: white;
  padding-top: 1%;
  height: 100vh;
  width: 100%;
}

.contactHeader{
height: 50vh;
margin-top: 5%;
margin-bottom: 5%;
}

.contactHeader h2 {
  display: block;
  padding-top: 20vh;
  text-align: center;
  margin: 0;
}

.about-project, .contact-us {
  font-family: 'Abril Fatface', cursive;
  font-size: 3.8em;
  letter-spacing: 0.03;
}

.contact-info {
  text-align: center;
}

.contact-us:hover{
  text-shadow: -3px 3px 0px #FA3618, -6px 6px 0px #D5381E, -9px 9px 0px #C13739;

}

.contact-info a {
  color: white;
  text-decoration: none;
}

.contact-info a:hover {
  text-shadow: -1px 1px 0px #2DBFF9, -2px 2px 0px #00A8FC, -4px 4px 0px #008BFD;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -55px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer,
.page-wrap:after {
  height: 55px;
  text-align: center;
  color: #5B5B5B;
  font-size: 0.5em; padding: 1em;
  border-right: 1.5px solid #cccccc;
}



/*  regular nav {
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  font-weight: bold;
  border-style: outset;
  border-width: 1px;
  height: 100px;
  padding-top: 5%;
  padding-right: 5%;
  font-size: 20px;
  word-spacing: 2em;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f1f1f1;

} */
